@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-purple, 50);
$custom-accent:  mat-palette($mat-pink, A400);

$custom-theme: mat-dark-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);
