@import '~@angular/material/theming';

@include mat-core();

$custom-primary: mat-palette($mat-purple, 50);
$custom-accent: mat-palette($mat-pink, A400);

$custom-theme: mat-dark-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);

// ALTERNATIVE THEME

$alt-primary-yellow: mat-palette($mat-yellow, A400);
$alt-accent-blue: mat-palette($mat-blue, 900);

$alt-theme-1: mat-dark-theme($alt-primary-yellow, $alt-accent-blue);

.alternative_1 {
  @include angular-material-theme($alt-theme-1);
}

// ALTERNATIVE THEME

$alt-primary-blue: mat-palette($mat-blue, 900);
$alt-accent-yellow: mat-palette($mat-yellow, A400);

$alt-theme-2: mat-dark-theme($alt-primary-blue, $alt-accent-yellow);

.alternative_2 {
  @include angular-material-theme($alt-theme-2);
}
