form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border: 3px solid white;
  border-radius: 15px;
  padding-top: 15px;
}

mat-form-field {
  width: 100%;
  margin: auto;
}

button {
  background-color: white;
  color: black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0;
}

input {
  padding-top: 10px;
  color: white;
  background-color: black;
  margin: auto;
  border: 1px solid white;
  width: 100%;
  transition: 1s;
  &:focus{
    border-color: black;

  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
}

h1{
  text-align: center;
}
