form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: white;
  background-color: blue;
}

mat-form-field {
  width: 100%;
  color: white;
}

button {
  background-color: white;
  color: black;
}

input{
  background-color: white;
  color: black;
}

.mat-focused .placeholder {
  color: #00D318;
}

::-webkit-input-placeholder {
  color:    #999;
}
:-moz-placeholder {
  color:    #999;
}
::-moz-placeholder {
  color:    #999;
}
:-ms-input-placeholder {
  color:    #999;
}

/* Different color for some fields */

#name_2::-webkit-input-placeholder,
#textarea_2::-webkit-input-placeholder
{
  color:    #FF0000;
}

#name_2:-moz-placeholder,
#textarea_2:-moz-placeholder
{
  color:    #FF0000;
}

#name_2::-moz-placeholder,
#textarea_2::-moz-placeholder
{
  color:    #FF0000;
}

#name_2:-ms-input-placeholder,
#textarea_2:-ms-input-placeholder
{
  color:    #FF0000;
}

