.form{
  margin-top: 100px;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border: 1px solid white;
  border-radius: 15px;
  padding-top: 15px;
  margin: auto;
  transition: 1s;
  &:hover{
    border-color: #50E3C2;
    transition: 1s;
  }
}

mat-form-field {
  width: 100%;
  margin: auto;
}

button {
  background-color: black;
  color: white;
  border-radius: 15px;
  transition: 1s;
  &:hover{
    background-color: white;
    color: black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 0;
    transition: 1s;
  }
}

input {
  padding-top: 10px;
  color: white;
  background-color: black;
  margin: auto;
  border-top: 1px solid #50E3C2;
  border-bottom: 1px solid #50E3C2;
  width: 100%;
  transition: 1s;
  &:focus{
    border-color: black;

  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color: white !important;
  }
}


h1{
  text-align: center;
}
