.form {
  margin-top: 170px;
}

form {
  width: 100%;
  margin: auto;
  min-width: 150px;
  max-width: 400px;
}

mat-form-field {
  width: 100%;
  margin: auto;
}

button {
  color: #fff;
  border: none;
  font-size: 1.3rem;
  border-top-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 11px;
  background: rgba(0, 0, 0, 0.5);
  transition: 1s;
  &:hover {
    background: rgba(0, 0, 255, 0.5);
    transition: 1s background;
  }
}

input {
  color: white;
  width: 100%;
  margin: auto;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

h1 {
  text-align: center;
}

@media screen and (max-width: 500px) {
  div {
    width: auto !important;
  }
}
