* {
  color: white;
}

input{
  color: black;
}

button{
  background-color: white;
  color: black;
}

a{
  text-decoration: none;
}

.col-md-3{
  margin-right: 20px;
  margin-left: 60px;
  margin-top: 20px;
}
